/* Tipo de letra de Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=Roboto:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/* navbar start */

.navbar {
    font-weight: 800;
}


/* navbar end */


/* header home page start */

h2 {
    font-size: 25px;
    color: rgb(47, 51, 43);
}

h3 {
    font-size: 24px;
    color: rgb(47, 51, 43);
}

h1 {
    font-size: 70px;
    font-weight: 800;
}


/* header home page end */


/* Firts start */

.card {
    border: 0;
    box-shadow: none;
}

.firts i {
    font-size: 55px;
}

.img-ic1 {
    color: red;
}

.img-ic2 {
    color: blue;
}


/* Firts end */


/* third part start */

.lineas-one {
    margin-bottom: 95px;
}


/* third part end */


/* four part start */

.img-rayo {
    margin-top: 50px;
    color: darkblue;
    font-size: 60px;
}

.img-rayo {
    border-width: 5px;
    border-style: solid;
    border-color: darkblue;
    border-image: initial;
    border-radius: 25%;
    padding: 3% 4% 3% 4%;
}


/* four part end */


/* five part start */

.five i {
    font-size: 55px;
    margin-top: 10px;
}

.five h2 {
    font-size: 25px;
}

.five p {
    font-size: 15px;
}

.img-verde {
    color: darkgreen;
}

.img-celeste {
    color: deepskyblue;
}

.img-ama {
    color: goldenrod;
}


/* five part end */


/* six part start */

.six i {
    font-size: 40px;
    margin-left: 550px;
    margin-top: 90px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.six i {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(230, 109, 109);
    border-image: initial;
    border-radius: 50%;
    padding: 2% 3% 2% 3%;
}

.six i {
    color: palevioletred;
}


/* six part end */


/* seven part start */

.cero {
    font-size: 200px;
    font-weight: 900;
    color: darkorchid;
}

.seven h1 {
    font-size: 70px;
}

.seven p {
    font-size: 50px;
}

.seven .cero {
    font-size: 150px;
}


/* seven part end */


/* eight part start */

.eight {
    position: relative;
}

.eight img {
    width: 85%;
    margin-left: 25px;
}

.eight h1 {
    position: absolute;
    top: 180px;
    font-size: 30px;
    margin-left: 430px;
    color: #fff;
}

.eight p {
    position: absolute;
    top: 250px;
    margin-left: 470px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.eight .imagen-corta {
    display: flex;
    position: absolute;
    top: 350px;
    margin-left: 430px;
    width: 250px;
}


/* eight part end */


/* Footer Start */

.redes-sociales a {
    margin-left: 20px;
    font-size: 30px;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}


/*Footer End  */